-load staticfiles i18n
footer
  .container
    p 89991502001 (whatsapp, telegram) (c) Тарейкин М.И.


script(src="{% static 'dist/js/vendor/slick.min.js' %}")
link(rel="stylesheet", type="text/css", href="{% static 'dist/css/footer.css' %}")
